<li class="product-item">
  <a href="{{ product.url }}" class="card">
    {% if product.featured_image %}
      <img class="primary-image" src="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.title }}">
      {% if product.images[1] %}
        <img class="secondary-image" src="{{ product.images[1] | image_url: width: 300 }}" loading="lazy" alt="">
      {% endif %}
    {% endif %}
    <h3 title="{{ product.title }}">{{ product.title }}</h3>
  </a>
  <span class="price{% if product.compare_at_price > product.price %} price--on-sale{% endif %}">
    {% if product.compare_at_price > product.price %}
      <span class="price-item price-item--regular">{{ product.compare_at_price | money }}</span>
      <span class="price-item price-item--sale">{{ product.price | money }}</span>
    {% else %}
      {{ product.price | money }}
    {% endif %}
  </span>
  {% if product.tags contains 'cat' %}
    <span class="badge">cat</span>
  {% elsif product.tags contains 'ufo' %}
    <span class="badge">ufo</span>
  {% endif %}
</li>
