<li class="product-item">
  <a href="{{ product.url }}" class="card">
    {% if product.featured_image %}
      <img class="primary-image" src="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.title }}">
      {% if product.images[1] %}
        <img class="secondary-image" src="{{ product.images[1] | image_url: width: 300 }}" loading="lazy" alt="">
      {% endif %}
    {% endif %}
    <h3>{{ product.title }}</h3>
  </a>
  <span class="price">{{ product.price | money }}</span>
  {% if product.tags contains 'cat' %}
    <span class="badge">cat</span>
  {% elsif product.tags contains 'ufo' %}
    <span class="badge">ufo</span>
  {% endif %}
</li>
