<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ shop.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  </head>
  <body>
    <header>
      <h1>Welcome to our store</h1>
      <h2>{{ shop.name }}</h2>
      <nav>
        <ul>
          <li><a href="{{ routes.root_url }}">Home</a></li>
          <li><a href="{{ routes.all_products_collection_url }}">Catalog</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
      </nav>
      <div class="user-links">
        <a href="/account">Log in</a>
        <a href="/cart">Cart</a>
      </div>
    </header>

    <main>
      {{ content_for_layout }}
    </main>

    <footer>
      <form method="post" action="/contact#ContactFooter">
        <label for="SubscribeEmail">Subscribe to our emails</label>
        <input type="email" name="contact[email]" id="SubscribeEmail" placeholder="Email">
        <button type="submit">Subscribe</button>
      </form>
      {{ payment_methods }}
      <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }} Powered by Shopify</p>
      <a href="/policies/privacy-policy">Privacy policy</a>
    </footer>
    {{ content_for_footer }}
  </body>
</html>
